.virtual-scroll-container {
  height: 440px; /* Set a fixed height for the scrolling area */
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 0px;
  text-align: left;
}

thead tr {
  height: 56px; /* Must match the itemSize from the viewport */
  border-bottom: 1px solid #cbc3e3;
}

tbody tr {
  height: 52px; /* Must match the itemSize from the viewport */
  border-bottom: 1px solid #cbc3e3;  
}

tbody tr:last-child { /* or .my-row-class:last-child */
  border-bottom: none; /* Remove the bottom border from the last child */
}

